:root {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

$blue: rgba(26, 83, 92, 1);
$aqua: rgba(78, 205, 196, 1);
$white: rgba(247, 255, 247, 1);
$red: #f0293a;
$yellow: #f2a20c;
$black: #222b31;

$poster-w: 30rem;
$poster-h: $poster-w * 1.15;
$icon-w: 3rem;
$icon-h: $icon-w;
$product-w: $icon-w * 6;

@mixin btn($color: $red, $border-color: $white) {
  width: min-content;
  box-sizing: border-box;
  padding: 1rem 2rem;
  background-color: $color;
  border: 1px solid $border-color;
  border-radius: 5px;
  transition: background-color 300ms ease;
  text-align: center;

  &:hover {
    background-color: darken($color, 10%);
  }
}

%dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($product-w * 1.15, 1fr));
  row-gap: 5rem;

  .product {
    display: grid;
    row-gap: 1rem;
    width: $product-w;
    margin: 0 auto;
    grid-template-areas:
      "title      title"
      "img        img"
      "img        img"
      "quantity   price"
      "add        remove";

    * {
      text-align: center;
      font-size: 1.5rem;
    }

    &__img {
      grid-area: img;
      justify-self: center;
      width: $product-w;
      height: $product-w;
      border-radius: 5px;
    }

    &__title {
      grid-area: title;
      font-weight: bold;
      font-size: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__price {
      grid-area: price;

      &::after {
        content: " each";
      }

      &::before {
        content: "$";
      }
    }

    &__quantity {
      grid-area: quantity;

      &::after {
        content: " item(s)";
      }
    }

    &__button {
      display: block;
      background-color: $red;
      width: $icon-w * 2;
      padding: 1rem;
      margin: 1rem auto 0 auto;

      &:hover {
        background-color: lighten($red, 5%);
      }

      &:first-child {
        grid-area: add;
      }

      &:last-child {
        grid-area: remove;
      }
    }
  }
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: $white;

  &:visited {
    color: inherit;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: $black;
}

body {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-auto-rows: min-content;
  // grid-template-rows: max(7rem) max(10rem) auto min(5rem);
  grid-template-areas:
    "logo       search  register    login"
    "nav        title   title       title"
    "nav        main    main        main"
    "...        footer  footer      footer";
}

.logo {
  grid-area: logo;
  padding: 1.5rem 0;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: darken($red, 5%);
  }

  &__icon {
    display: none;
  }

  &__text {
    font-size: $icon-h;
  }
}

.btn-login {
  @extend .logo;
  grid-area: login;

  &__icon {
    @extend .logo__icon;
  }

  &__text {
    @extend .logo__text;
  }
}

.btn-register {
  @extend .logo;
  grid-area: register;

  &__icon {
    @extend .logo__icon;
  }

  &__text {
    @extend .logo__text;
  }
}

.search {
  grid-area: search;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: lighten($red, 10%);
  box-sizing: border-box;
  padding: 1rem;

  &:hover {
    filter: brightness(1.1);
  }

  &__input {
    align-self: center;
    background-color: inherit;
    font-size: $icon-h * 0.7;
    width: 100%;
    border: none;
    color: white;
    outline: none;
  }
}

.title {
  grid-area: title;
  font-size: 3rem;
  text-align: center;
  margin: 2rem auto;
  display: flex;
  align-items: center;
}

.nav {
  grid-area: nav;
  height: 100%;
  background-color: darken($black, 10%);

  .mini-user {
    background-color: $yellow;
    padding: 1rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "img    text";
    column-gap: 2rem;

    &__img {
      grid-area: img;
      height: $icon-h * 1.5;
      width: $icon-w * 1.5;
    }

    &__text {
      grid-area: text;
    }
  }

  &__genre {
    padding: 1.5rem 0 1.5rem 20%;
    display: flex;
    transition: all 200ms ease;

    &:nth-child(1) {
      margin-top: 1.5rem;
    }

    &:hover, &--active {
      background-color: lighten($black, 10%);
      box-shadow: $black 0 0.5rem 0.5rem;

      * {
        color: $red;
      }
    }
  }

  &__icon {
    display: none;
  }
}

.movies {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($poster-w, 1fr));
  width: 90%;
  margin: 0 auto;

  .movie {
    width: 100%;
    display: flex;
    flex-direction: column;
    $movie-font: 1.5rem;
    align-items: center;

    .front {
      position: absolute;
      top: 0;
      left:0;
      background-color: rgba($red, $alpha: .3);
      width: 100%;
      height: 100%;
      z-index: 2;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      padding-bottom: 10%;
      box-sizing: border-box;
      visibility: hidden;

      &__button {
        width: $icon-w*2.25;
        height: $icon-h*2.25;
        border-radius: 50%;
        background-color: $yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 2px 2px 5px black;
        transition: transform 300ms ease;

        &:hover {
          transform: scale(1.15);
          filter: brightness(1.15);

        }

        i {
          font-size: 3rem;
        }
      }
    }

    &__score {
      align-self: center;
      transform: translateY($movie-font);
      background-color: $yellow;
      padding: 0.5rem 2rem;
      border-radius: $movie-font;
      font-size: $movie-font;
      z-index: 1;
    }

    &__img {
      width: $poster-w;
      height: $poster-h;
      position: relative;

      &:hover {
        .front {
          visibility: visible;
        }
      }
    }

    &__title {
      font-size: 1.5 * $movie-font;
      font-weight: bold;
      margin: $movie-font 0;
      width: $poster-w;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__release,
    &__genres {
      width: $poster-w;
      margin: 0 auto;
      align-self: start;
      font-weight: bold;
      font-size: $movie-font;
      color: $aqua;
    }

    &__release {
      margin-top: 0.5 * $movie-font;
    }
  }
}

.oneMovie {
  grid-area: main;

  display: grid;
  font-size: 2rem;
  column-gap: 5rem;
  row-gap: 2rem;
  width: 90%;
  margin: 0 auto;
  grid-auto-rows: min-content;
  grid-template-areas:
    "img        score"
    "img        genre"
    "img        desc"
    "img        desc"
    "img        release"
    "img        price"
    "img        rent"
    "...        btn-buy"
    "...        btn-favorite";
  align-items: center;

  &__score {
    grid-area: score;
  }

  &__genre {
    grid-area: genre;
  }

  &__release {
    grid-area: release;
  }

  &__price {
    grid-area: price;
  }

  &__rent {
    grid-area: rent;
  }

  &__desc {
    grid-area: desc;
  }

  &__btn-buy {
    grid-area: btn-buy;
    justify-self: end;
    @include btn();
    width: 15rem;
  }

  &__btn-favorite {
    grid-area: btn-favorite;
    @extend .oneMovie__btn-buy;
  }

  &__img {
    grid-area: img;
    max-width: 100%;
    height: auto;
  }

  &__field {
    background-color: $red;
  }
}

.register {
  grid-area: main;
  display: grid;
  width: 90%;
  font-size: 1.5rem;
  margin: 0 auto;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 5rem;
  grid-template-areas:
    "form   intro"
    "form   author"
    "form   perk";

  & > * {
    padding: 2rem;
  }

  .form {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1rem;
    row-gap: 2rem;
    border: $yellow 0.1rem solid;
    border-radius: 1rem;
    align-items: center;

    & > * {
      color: $yellow;
    }

    label {
      font-weight: bold;
    }

    input {
      border: inherit;
      border-color: $white;
      border-radius: inherit;
      padding: 1rem;
      transition: all 300ms ease;

      &:focus {
        outline: none;
        transform: scale(1.05);
      }
    }

    button {
      @include btn($black, $yellow);
      background-color: inherit;
      width: 100%;
      color: $yellow;
      grid-column: 2/3;

      &:focus,
      &:hover {
        background-color: $yellow;
        color: $white;
        border-color: $white;
      }
    }
  }

  .intro {
    grid-area: intro;
    background-color: $yellow;

    &__text {
      @extend .perk__text;
      background-color: $red;
    }
  }

  .perk {
    @extend .intro;
    grid-area: perk;

    &__text {
      margin-top: 1rem;
    }
  }

  .author {
    @extend .intro;
    grid-area: author;

    &__text {
      @extend .perk__text;
    }
  }
}

$login-width: 40rem;
.login {
  grid-area: main;
  width: $login-width;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: $yellow 0.1rem solid;
  border-radius: 1rem;
  padding: 2rem;
  height: 30rem;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;

  & > * {
    color: $yellow;
  }

  label {
    font-weight: bold;
  }

  input {
    border: inherit;
    border-color: $white;
    border-radius: inherit;
    padding: 1rem;
    width: $login-width * 0.9;
    box-sizing: border-box;
    transition: all 300ms ease;

    &:focus {
      outline: none;
      transform: scale(1.05);
    }
  }

  button {
    @include btn($black, $yellow);
    background-color: inherit;
    width: $login-width * 0.9;
    margin: 0 auto;
    color: $yellow;
    box-sizing: border-box;
    grid-column: 2/3;

    &:focus,
    &:hover {
      background-color: $yellow;
      color: $white;
      border-color: $white;
    }
  }
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  &__content {
    background: center no-repeat
      url(https://mediafiles.cineplex.com/Attachments/NewItems/CPXRotator_595x3261917_20200310213209_0.png);
    z-index: 11;
    width: 100%;
    height: 50%;
  }

  &__btn-close {
    @include btn();
    width: 30%;
  }
}

%dashboard__button {
  margin-left: auto;
  display: block;
  width: max-content;
  background-color: $yellow;
  padding: 1rem;
  transition: 0.5s ease;
  font-size: 1.5rem;

  &:hover {
    background-color: $red;
    font-style: italic;
  }
}
.user {
  grid-area: main;
  width: 90%;
  margin: 0 auto;

  &__button {
    @extend %dashboard__button;
  }

  &__legend {
    margin: 3rem auto;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: $yellow;
  }

  .profile {
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background-color: $yellow;
      padding: 5%;
      height: 50%;

      img {
        width: $product-w;
        height: $product-w;
      }
    }

    &__info {
      font-size: 1.5rem;
      * {
        margin: 1rem 0;
      }
    }
    &__field {
      background-color: $red;
      font-weight: bold;
    }
  }
  .dashboard {
    @extend %dashboard;
  }

  .wishlist {
    @extend %dashboard;
    .product {
      grid-template-areas:
        "title"
        "img"
        "price"
        "remove";

      &__button {
        width: max-content;
      }
    }
  }
}

.cart {
  grid-area: main;

  .dashboard {
    @extend %dashboard;
  }

  &__total {
    font-size: 2rem;
    margin: 0 auto 2rem auto;
    width: max-content;
  }
  &__field {
    background-color: $red;
    font-weight: bold;
  }

  &__button {
    @extend %dashboard__button;
    width: $product-w;
    text-align: center;
    margin: 5rem auto;
    border-radius: 5rem;
    font-weight: bold;
    transition: 0.5s ease;

    &:hover {
      font-style: normal;
      transform: scale(1.25);
      background-color: lighten($yellow, 10%);
    }
  }
}

.admin {
  grid-area: main;

  .controls {
    margin: 3rem auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    * {
      @extend %dashboard__button;
      width: 20%;
      margin: 0;
      border-radius: 5rem;
    }
  }

  .lookup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    font-size: 2rem;
    
    label {
      color: $yellow;
      margin-bottom: 1rem;
    }

    input {
      padding: 1rem;
      border-radius: 5rem;
      min-width: 20rem;
      color:$yellow;
      text-align: center;
    }
  }

  .dashboard {
    @extend %dashboard;

    .product {
      grid-template-areas:
        "title    title"
        "id       id"
        "img      img"
        "quantity price"
        "add      remove";

      &__id {
        grid-area: id;

        &::before {
          content: "#"
        }
      }

      &__quantity {
        &::after {
          content: " in stock"
        }
      }
    }
  }
}

.message {
  grid-area: main;
  width: 60%;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
}

.status {
  background-color: $red;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  grid-column: auto / span 2;
}
.footer {
  grid-area: footer;
  display: grid;
  padding: 5rem 0;

  &__media {
    align-self: center;
    display: grid;
    font-size: $icon-h;
    grid-template-columns: repeat(auto-fit, minmax($icon-w, 1fr));

    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      margin: 0 auto;
      padding: 1rem;
      border-radius: 5px;

      &:nth-child(1):hover {
        background-color: #6e5494;
      }
      &:nth-child(2):hover {
        background-color: #3b5998;
      }
      &:nth-child(3):hover {
        background-color: #0e76a8 ;
      }
    }
  }
}

.movieForm {
  grid-area: main;
  display: grid;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  row-gap:2rem;
  column-gap: 1rem;
  grid-template-columns: 30% auto;

  * {
    font-size: 2rem;
    box-sizing: border-box;

  }

  label {
    color: $yellow;
    font-style: italic;
    font-weight: bold;
  }

  .inputGenre {
    display:grid;
    grid-column: auto / span 2;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    row-gap: 2rem;
    align-items: center;
  }

  input,textarea {
    color: $yellow;
    padding: 1rem;
    border-radius: 2rem;
    transition: .5s ease;

    &:focus {
      transform: scale(1.1);
    }

    &[type="checkbox"] {
      justify-self: center;
      transform: scale(2) translateX(.3rem)
      
    }

    &[type="submit"] {
      grid-column: auto / span 2;
      width: 100%;
      background-color: $yellow;
      color: white;
      border: 0;
      cursor: pointer;
      transition: .5s ease;

      &:hover,&:focus {
        background-color: lighten($yellow, 10%);
      }
    }

    &:checked + label{
      background-color: $yellow;
      color:white;
      width: max-content;
      font-weight: bold;
      padding: 0 1rem;
      border-radius: 2rem;
    }
  }
}

hr {
  margin: 3rem;
  border-top: 0.5rem solid white;
}
::placeholder {
  color: inherit;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: $yellow;

  &:hover {
    filter: brightness(1.2);
  }
}

::-webkit-scrollbar-track {
  background-color: inherit;
}

.disable {
  pointer-events: none;
}

@media screen and (max-width: 850px) {
  .nav {
    .mini-user {
      padding-left: 3rem;
    
      &__img {
        display: block;
      }
      &__text {
        display: none;
      }
    }
    &__genre {
      display: flex;
      justify-content: center;
      padding: 2rem 0;
    }

    &__icon {
      display: block;
      font-size: $icon-w/2;
    }

    &__text {
      display: none;
    }
  }

  .logo {
    &__icon {
      display: block;
      width: $icon-w;
      height: $icon-h;
      font-size: 3rem;
    }

    &__text {
      display: none;
    }
  }

  .oneMovie {
    grid-template-areas:
      "img    img"
      "score  release"
      "desc   desc"
      "genre  genre"
      "price  rent"
      "btn-buy btn-favorite";

    &__img {
      max-width: 100%;
      height: auto;
    }

    &__btn-buy {
      width: 100%;
    }
  }

  .register {
    grid-template-columns: auto;
    grid-template-areas:
      "form"
      "intro"
      "perk"
      "author";

    form {
      margin-bottom: 2rem;
    }
  }

  .movieForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    * {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .login {
    $login-width: 28rem;
    width: $login-width;

    input,
    button {
      width: $login-width * 0.9;
    }
  }

  .movieForm {
    .inputGenre {
      grid-template-columns: 1fr 2fr;
    }
  }

}

@media screen and (max-width: 400px) {
  .logo {
    &__icon {
      font-size: $icon-w * 0.7;
      width: $icon-w * 0.7;
      height: $icon-h * 0.7;
    }
  }

  .oneMovie {
    grid-template-columns: 1fr;
    grid-template-areas:
      "desc"
      "img"
      "score"
      "release"
      "genre"
      "price"
      "rent"
      "btn-buy"
      "btn-favorite";
  }

  .login {
    $login-width: 20rem;
    width: $login-width;

    input,
    button {
      width: $login-width * 0.9;
    }
  }

  .admin {
    .controls {
      flex-direction: column;

      * {
        width: 15rem;
        margin: 1rem auto;
      }
    }
  }
}
