:root {
  font-size: 10px;
  font-family: "Roboto", sans-serif; }

.user .dashboard, .user .wishlist, .cart .dashboard, .admin .dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20.7rem, 1fr));
  row-gap: 5rem; }
  .user .dashboard .product, .user .wishlist .product, .cart .dashboard .product, .admin .dashboard .product {
    display: grid;
    row-gap: 1rem;
    width: 18rem;
    margin: 0 auto;
    grid-template-areas: "title      title" "img        img" "img        img" "quantity   price" "add        remove"; }
    .user .dashboard .product *, .user .wishlist .product *, .cart .dashboard .product *, .admin .dashboard .product * {
      text-align: center;
      font-size: 1.5rem; }
    .user .dashboard .product__img, .user .wishlist .product__img, .cart .dashboard .product__img, .admin .dashboard .product__img {
      grid-area: img;
      justify-self: center;
      width: 18rem;
      height: 18rem;
      border-radius: 5px; }
    .user .dashboard .product__title, .user .wishlist .product__title, .cart .dashboard .product__title, .admin .dashboard .product__title {
      grid-area: title;
      font-weight: bold;
      font-size: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .user .dashboard .product__price, .user .wishlist .product__price, .cart .dashboard .product__price, .admin .dashboard .product__price {
      grid-area: price; }
      .user .dashboard .product__price::after, .user .wishlist .product__price::after, .cart .dashboard .product__price::after, .admin .dashboard .product__price::after {
        content: " each"; }
      .user .dashboard .product__price::before, .user .wishlist .product__price::before, .cart .dashboard .product__price::before, .admin .dashboard .product__price::before {
        content: "$"; }
    .user .dashboard .product__quantity, .user .wishlist .product__quantity, .cart .dashboard .product__quantity, .admin .dashboard .product__quantity {
      grid-area: quantity; }
      .user .dashboard .product__quantity::after, .user .wishlist .product__quantity::after, .cart .dashboard .product__quantity::after, .admin .dashboard .product__quantity::after {
        content: " item(s)"; }
    .user .dashboard .product__button, .user .wishlist .product__button, .cart .dashboard .product__button, .admin .dashboard .product__button {
      display: block;
      background-color: #f0293a;
      width: 6rem;
      padding: 1rem;
      margin: 1rem auto 0 auto; }
      .user .dashboard .product__button:hover, .user .wishlist .product__button:hover, .cart .dashboard .product__button:hover, .admin .dashboard .product__button:hover {
        background-color: #f24150; }
      .user .dashboard .product__button:first-child, .user .wishlist .product__button:first-child, .cart .dashboard .product__button:first-child, .admin .dashboard .product__button:first-child {
        grid-area: add; }
      .user .dashboard .product__button:last-child, .user .wishlist .product__button:last-child, .cart .dashboard .product__button:last-child, .admin .dashboard .product__button:last-child {
        grid-area: remove; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #f7fff7; }
  *:visited {
    color: inherit; }

html,
body {
  width: 100%;
  height: 100%;
  background-color: #222b31; }

body {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: 7rem 10rem auto 5rem;
  grid-template-areas: "logo       search  register    login" "nav        title   title       title" "nav        main    main        main" "...        footer  footer      footer"; }

.logo, .btn-login, .btn-register {
  grid-area: logo;
  padding: 1.5rem 0;
  background-color: #f0293a;
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo:hover, .btn-login:hover, .btn-register:hover {
    background-color: #ee1124; }
  .logo__icon, .btn-login__icon, .btn-register__icon {
    display: none; }
  .logo__text, .btn-login__text, .btn-register__text {
    font-size: 3rem; }

.btn-login {
  grid-area: login; }

.btn-register {
  grid-area: register; }

.search {
  grid-area: search;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f35966;
  box-sizing: border-box;
  padding: 1rem; }
  .search:hover {
    filter: brightness(1.1); }
  .search__input {
    align-self: center;
    background-color: inherit;
    font-size: 2.1rem;
    width: 100%;
    border: none;
    color: white;
    outline: none; }

.title {
  grid-area: title;
  font-size: 3rem;
  text-align: center;
  margin: 2rem auto;
  display: flex;
  align-items: center; }

.nav {
  grid-area: nav;
  height: 100%;
  background-color: #0d1113; }
  .nav .mini-user {
    background-color: #f2a20c;
    padding: 1rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "img    text";
    column-gap: 2rem; }
    .nav .mini-user__img {
      grid-area: img;
      height: 4.5rem;
      width: 4.5rem; }
    .nav .mini-user__text {
      grid-area: text; }
  .nav__genre {
    padding: 1.5rem 0 1.5rem 20%;
    display: flex;
    transition: all 200ms ease; }
    .nav__genre:nth-child(1) {
      margin-top: 1.5rem; }
    .nav__genre:hover {
      background-color: #37454f;
      box-shadow: #222b31 0 0.5rem 0.5rem; }
      .nav__genre:hover * {
        color: #f0293a; }
  .nav__icon {
    display: none; }

.movies {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  width: 90%;
  margin: 0 auto; }
  .movies .movie {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .movies .movie__score {
      align-self: center;
      transform: translateY(1.5rem);
      background-color: #f2a20c;
      padding: 0.5rem 2rem;
      border-radius: 1.5rem;
      font-size: 1.5rem;
      z-index: 1; }
    .movies .movie__img {
      width: 30rem;
      height: 34.5rem; }
      .movies .movie__img:hover {
        filter: brightness(1.1); }
    .movies .movie__title {
      font-size: 2.25rem;
      font-weight: bold;
      margin: 1.5rem 0;
      width: 30rem; }
    .movies .movie__release, .movies .movie__genres {
      width: 30rem;
      margin: 0 auto;
      align-self: start;
      font-weight: bold;
      font-size: 1.5rem;
      color: #4ecdc4; }
    .movies .movie__release {
      margin-top: 0.75rem; }

.oneMovie {
  grid-area: main;
  display: grid;
  font-size: 2rem;
  column-gap: 5rem;
  row-gap: 2rem;
  width: 90%;
  margin: 0 auto;
  grid-template-areas: "img        score" "img        genre" "img        desc" "img        desc" "img        release" "img        price" "img        rent" "...        btn-buy" "...        btn-favorite";
  align-items: center; }
  .oneMovie__score {
    grid-area: score; }
  .oneMovie__genre {
    grid-area: genre; }
  .oneMovie__release {
    grid-area: release; }
  .oneMovie__price {
    grid-area: price; }
  .oneMovie__rent {
    grid-area: rent; }
  .oneMovie__desc {
    grid-area: desc; }
  .oneMovie__btn-buy, .oneMovie__btn-favorite {
    grid-area: btn-buy;
    justify-self: end;
    width: min-content;
    box-sizing: border-box;
    padding: 1rem 2rem;
    background-color: #f0293a;
    border: 1px solid #f7fff7;
    border-radius: 5px;
    transition: background-color 300ms ease;
    text-align: center;
    width: 15rem; }
    .oneMovie__btn-buy:hover, .oneMovie__btn-favorite:hover {
      background-color: #d70f20; }
  .oneMovie__btn-favorite {
    grid-area: btn-favorite; }
  .oneMovie__img {
    grid-area: img;
    max-width: 100%;
    height: auto; }
  .oneMovie__field {
    background-color: #f0293a; }

.register {
  grid-area: main;
  display: grid;
  width: 90%;
  font-size: 1.5rem;
  margin: 0 auto;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 5rem;
  grid-template-areas: "form   intro" "form   author" "form   perk"; }
  .register > * {
    padding: 2rem; }
  .register .form {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1rem;
    row-gap: 2rem;
    border: #f2a20c 0.1rem solid;
    border-radius: 1rem;
    align-items: center; }
    .register .form > * {
      color: #f2a20c; }
    .register .form label {
      font-weight: bold; }
    .register .form input {
      border: inherit;
      border-color: #f7fff7;
      border-radius: inherit;
      padding: 1rem;
      transition: all 300ms ease; }
      .register .form input:focus {
        outline: none;
        transform: scale(1.05); }
    .register .form button {
      width: min-content;
      box-sizing: border-box;
      padding: 1rem 2rem;
      background-color: #222b31;
      border: 1px solid #f2a20c;
      border-radius: 5px;
      transition: background-color 300ms ease;
      text-align: center;
      background-color: inherit;
      width: 100%;
      color: #f2a20c;
      grid-column: 2/3; }
      .register .form button:hover {
        background-color: #0d1113; }
      .register .form button:focus, .register .form button:hover {
        background-color: #f2a20c;
        color: #f7fff7;
        border-color: #f7fff7; }
  .register .intro, .register .perk, .register .author {
    grid-area: intro;
    background-color: #f2a20c; }
    .register .intro__text {
      background-color: #f0293a; }
  .register .perk {
    grid-area: perk; }
    .register .perk__text, .register .intro__text, .register .author__text {
      margin-top: 1rem; }
  .register .author {
    grid-area: author; }

.login {
  grid-area: main;
  width: 40rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: #f2a20c 0.1rem solid;
  border-radius: 1rem;
  padding: 2rem;
  height: 30rem;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem; }
  .login > * {
    color: #f2a20c; }
  .login label {
    font-weight: bold; }
  .login input {
    border: inherit;
    border-color: #f7fff7;
    border-radius: inherit;
    padding: 1rem;
    width: 36rem;
    box-sizing: border-box;
    transition: all 300ms ease; }
    .login input:focus {
      outline: none;
      transform: scale(1.05); }
  .login button {
    width: min-content;
    box-sizing: border-box;
    padding: 1rem 2rem;
    background-color: #222b31;
    border: 1px solid #f2a20c;
    border-radius: 5px;
    transition: background-color 300ms ease;
    text-align: center;
    background-color: inherit;
    width: 36rem;
    margin: 0 auto;
    color: #f2a20c;
    box-sizing: border-box;
    grid-column: 2/3; }
    .login button:hover {
      background-color: #0d1113; }
    .login button:focus, .login button:hover {
      background-color: #f2a20c;
      color: #f7fff7;
      border-color: #f7fff7; }

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center; }
  .banner__content {
    background: center no-repeat url(https://mediafiles.cineplex.com/Attachments/NewItems/CPXRotator_595x3261917_20200310213209_0.png);
    z-index: 11;
    width: 100%;
    height: 50%; }
  .banner__btn-close {
    width: min-content;
    box-sizing: border-box;
    padding: 1rem 2rem;
    background-color: #f0293a;
    border: 1px solid #f7fff7;
    border-radius: 5px;
    transition: background-color 300ms ease;
    text-align: center;
    width: 30%; }
    .banner__btn-close:hover {
      background-color: #d70f20; }

.user__button, .cart__button, .admin .controls * {
  margin-left: auto;
  display: block;
  width: max-content;
  background-color: #f2a20c;
  padding: 1rem;
  transition: 0.5s ease;
  font-size: 1.5rem; }
  .user__button:hover, .cart__button:hover, .admin .controls :hover {
    background-color: #f0293a;
    font-style: italic; }

.user {
  grid-area: main;
  width: 90%;
  margin: 0 auto; }
  .user__legend {
    margin: 3rem auto;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #f2a20c; }
  .user .profile__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #f2a20c;
    width: 100%;
    padding: 5vh;
    height: 30vh; }
    .user .profile__img img {
      width: 18rem;
      height: 18rem; }
  .user .profile__info {
    font-size: 1.5rem; }
    .user .profile__info * {
      margin: 1rem 0; }
  .user .profile__field {
    background-color: #f0293a;
    font-weight: bold; }
  .user .wishlist .product {
    grid-template-areas: "title" "img" "price" "remove"; }
    .user .wishlist .product__button {
      width: max-content; }

.cart {
  grid-area: main; }
  .cart__total {
    font-size: 2rem;
    margin: 0 auto 2rem auto;
    width: max-content; }
  .cart__field {
    background-color: #f0293a;
    font-weight: bold; }
  .cart__button {
    width: 20%;
    text-align: center;
    margin: 5rem auto;
    border-radius: 5rem;
    font-weight: bold;
    transition: 0.5s ease; }
    .cart__button:hover {
      font-style: normal;
      transform: scale(1.25);
      background-color: #f5b53c; }

.admin {
  grid-area: main; }
  .admin .controls {
    margin: 3rem auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center; }
    .admin .controls * {
      width: 20%;
      margin: 0;
      border-radius: 5rem; }
  .admin .lookup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    font-size: 2rem; }
    .admin .lookup label {
      color: #f2a20c;
      margin-bottom: 1rem; }
    .admin .lookup input {
      padding: 1rem;
      border-radius: 5rem;
      min-width: 20rem;
      color: #f2a20c;
      text-align: center; }
  .admin .dashboard .product {
    grid-template-areas: "title    title" "id       id" "img      img" "quantity price" "add      remove"; }
    .admin .dashboard .product__id {
      grid-area: id; }
      .admin .dashboard .product__id::before {
        content: "#"; }
    .admin .dashboard .product__quantity::after {
      content: " in stock"; }

.message {
  grid-area: main;
  width: 60%;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center; }

.status {
  background-color: #f0293a;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  grid-column: auto / span 2; }

.footer {
  grid-area: footer;
  display: grid;
  padding: 5rem 0; }
  .footer__media {
    align-self: center;
    display: grid;
    font-size: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr)); }
    .footer__media > a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      margin: 0 auto;
      padding: 1rem;
      border-radius: 5px; }
      .footer__media > a:nth-child(1):hover {
        background-color: #6e5494; }
      .footer__media > a:nth-child(2):hover {
        background-color: #3b5998; }
      .footer__media > a:nth-child(3):hover {
        background-color: #0e76a8; }

.movieForm {
  grid-area: main;
  display: grid;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 1rem;
  grid-template-columns: 30% auto; }
  .movieForm * {
    font-size: 2rem;
    box-sizing: border-box; }
  .movieForm label {
    color: #f2a20c;
    font-style: italic;
    font-weight: bold; }
  .movieForm .inputGenre {
    display: grid;
    grid-column: auto / span 2;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    row-gap: 2rem;
    align-items: center; }
  .movieForm input, .movieForm textarea {
    color: #f2a20c;
    padding: 1rem;
    border-radius: 2rem;
    transition: .5s ease; }
    .movieForm input:focus, .movieForm textarea:focus {
      transform: scale(1.1); }
    .movieForm input[type="checkbox"], .movieForm textarea[type="checkbox"] {
      justify-self: center;
      transform: scale(2) translateX(0.3rem); }
    .movieForm input[type="submit"], .movieForm textarea[type="submit"] {
      grid-column: auto / span 2;
      width: 100%;
      background-color: #f2a20c;
      color: white;
      border: 0;
      cursor: pointer;
      transition: .5s ease; }
      .movieForm input[type="submit"]:hover, .movieForm input[type="submit"]:focus, .movieForm textarea[type="submit"]:hover, .movieForm textarea[type="submit"]:focus {
        background-color: #f5b53c; }
    .movieForm input:checked + label, .movieForm textarea:checked + label {
      background-color: #f2a20c;
      color: white;
      width: max-content;
      font-weight: bold;
      padding: 0 1rem;
      border-radius: 2rem; }

hr {
  margin: 3rem;
  border-top: 0.5rem solid white; }

::placeholder {
  color: inherit; }

::-webkit-scrollbar {
  width: 1rem; }

::-webkit-scrollbar-thumb {
  background-color: #f2a20c; }
  ::-webkit-scrollbar-thumb:hover {
    filter: brightness(1.2); }

::-webkit-scrollbar-track {
  background-color: inherit; }

.disable {
  pointer-events: none; }

@media screen and (max-width: 850px) {
  .nav .mini-user {
    padding-left: 3rem; }
    .nav .mini-user__img {
      display: block; }
    .nav .mini-user__text {
      display: none; }
  .nav__genre {
    display: flex;
    justify-content: center;
    padding: 2rem 0; }
  .nav__icon {
    display: block;
    font-size: 1.5rem; }
  .nav__text {
    display: none; }
  .logo__icon, .btn-login__icon, .btn-register__icon {
    display: block;
    width: 3rem;
    height: 3rem;
    font-size: 3rem; }
  .logo__text, .btn-login__text, .btn-register__text {
    display: none; }
  .oneMovie {
    grid-template-areas: "img    img" "score  release" "desc   desc" "genre  genre" "price  rent" "btn-buy btn-favorite"; }
    .oneMovie__img {
      max-width: 100%;
      height: auto; }
    .oneMovie__btn-buy, .oneMovie__btn-favorite {
      width: 100%; }
  .register {
    grid-template-columns: auto;
    grid-template-areas: "form" "intro" "perk" "author"; }
    .register form {
      margin-bottom: 2rem; }
  .movieForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .movieForm * {
      width: 100%; } }

@media screen and (max-width: 600px) {
  .login {
    width: 28rem; }
    .login input,
    .login button {
      width: 25.2rem; }
  .movieForm .inputGenre {
    grid-template-columns: 1fr 2fr; } }

@media screen and (max-width: 400px) {
  .logo__icon, .btn-login__icon, .btn-register__icon {
    font-size: 2.1rem;
    width: 2.1rem;
    height: 2.1rem; }
  .oneMovie {
    grid-template-columns: 1fr;
    grid-template-areas: "desc" "img" "score" "release" "genre" "price" "rent" "btn-buy" "btn-favorite"; }
  .login {
    width: 20rem; }
    .login input,
    .login button {
      width: 18rem; }
  .admin .controls {
    flex-direction: column; }
    .admin .controls * {
      width: 15rem;
      margin: 1rem auto; } }
