:root {
  font-size: 1em;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: white; }

.movie__genres, .movie__release {
  color: #05EBD4;
  font-size: 0.8rem;
  font-weight: bold; }

.oneMovie__btn-price, .oneMovie__btn-rent {
  display: block;
  border: white 1px solid;
  justify-self: end;
  width: 100px;
  padding: 0.5rem;
  background-color: #F24150;
  color: white;
  font-weight: bold;
  font-size: inherit;
  text-align: center; }
  .oneMovie__btn-price:active, .oneMovie__btn-rent:active {
    transform: translate(2px, 2px); }
  .oneMovie__btn-price:hover, .oneMovie__btn-rent:hover {
    background-color: #f0293a; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%;
  background-color: #222B31; }

body {
  display: grid;
  grid-template-areas: "logo search" "nav title" "nav main" "footer footer";
  grid-template-columns: 15% auto;
  grid-template-rows: minmax(10%, auto); }

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F24150; }
  .logo__icon {
    width: 30px;
    height: 30px;
    margin-right: .5rem; }
  .logo__site {
    color: white;
    font-weight: bold;
    font-size: 1.5rem; }
  .logo:hover {
    background-color: #f0293a; }

.search {
  grid-area: search;
  background-color: #f45966;
  display: flex; }
  .search__input {
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: white;
    position: relative;
    left: 2rem; }

.nav {
  grid-area: nav;
  background-color: #0d1113;
  padding-top: 2rem; }
  .nav__genre {
    font-weight: bolder;
    list-style: none;
    padding: 1rem 2rem;
    text-align: left;
    display: block;
    color: white; }
    .nav__genre:hover, .nav__genre--active {
      background-color: #2c3840;
      color: #F24150; }

.title {
  grid-area: title;
  background-color: #222B31;
  margin: 3rem auto 0 auto;
  width: max-content; }

.subtitle {
  grid-area: subtitle;
  background-color: #222B31;
  width: max-content;
  margin: 0 auto; }

.main {
  grid-area: main;
  width: 90%;
  margin: auto;
  background-color: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 270px)); }

.movie {
  display: flex;
  flex-direction: column;
  width: min-content; }
  .movie * {
    margin: 0.3rem; }
  .movie__score {
    background-color: #F2A20C;
    width: 30%;
    padding: 0.5rem 0;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    position: relative;
    top: 7%;
    align-self: center; }
    .movie__score--bad {
      background-color: red; }
  .movie__img {
    width: 250px;
    height: 300px; }
    .movie__img:hover {
      filter: brightness(115%); }
  .movie__title {
    text-align: left;
    height: max-content;
    font-weight: bolder; }

.oneMovie {
  display: grid;
  grid-area: main;
  font-size: 1.3rem;
  width: 90%;
  margin: 1rem auto 0 auto;
  grid-template-columns: min-content;
  align-items: center;
  column-gap: 2rem;
  grid-template-areas: "title title title" "img genre genre" "img score score" "img desc desc" "img release release" "img price btn-price" "img rent btn-rent"; }
  .oneMovie__title {
    grid-area: title;
    justify-self: center;
    font-size: 3rem;
    font-weight: bolder; }
  .oneMovie__img {
    grid-area: img;
    width: 300px;
    height: auto; }
  .oneMovie__score {
    grid-area: score; }
  .oneMovie__genres {
    grid-area: genre; }
  .oneMovie__desc {
    grid-area: desc;
    width: auto; }
  .oneMovie__price {
    grid-area: price; }
  .oneMovie__rent {
    grid-area: rent; }
  .oneMovie__release {
    grid-area: release; }
  .oneMovie__btn-price {
    grid-area: btn-price; }
  .oneMovie__btn-rent {
    grid-area: btn-rent; }
  .oneMovie__field {
    font-weight: bold;
    background-color: #F24150; }

.footer {
  grid-area: footer; }

::placeholder {
  color: white;
  opacity: 0.8; }

@media (max-width: 1200px) {
  .logo__site {
    display: none; }
  .nav {
    display: none; }
  .oneMovie {
    grid-template-areas: "title title title" "desc desc desc" "img genre genre" "img score score" "img release release" "img price price" "img rent rent" "btn-price ... ..." "btn-rent ... ...";
    row-gap: 1.5rem; }
    .oneMovie__btn-price, .oneMovie__btn-rent {
      width: 100%; } }
