:root {
    font-size: 1em;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color:white;
}

$red: #F24150;
$blue: #1B49A6;
$black: #222B31;
$aqua: #05EBD4;
$yellow: #F2A20C;

$icon-width: 30px;
$icon-height: 30px;
$poster-w: 250px;
$poster-h: 300px;

$btn-w: 100px;
$btn-h: 70px;

%subinfo {
    color: $aqua;
    font-size: 0.8rem;
    font-weight: bold;
}

%btn {
    justify-self: end;
    width: $btn-w;
    padding: 0.5rem;
    background-color: lighten($red, 5%);
    color: white;
    font-weight: bold;
    font-size: inherit;

    &:active {
        transform: translate(2px, 2px);
        background-color: $red;
    }

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: $black;
}

body {
    display:grid;
    grid-template-areas: 
        "logo search"
        "nav main"
        "footer footer";
    grid-template-columns: 15% auto;
    grid-template-rows:  10% auto 15%;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $red;

    &__icon {
        width: $icon-width;
        height: $icon-height;
        margin-right: .5rem;
    }

    &__site {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }

    &:hover {
        background-color: darken($red, 5%);
    }
}

.search {
    grid-area: search;
    background-color: lighten($red, 5%);
    display: flex;

    &__input {
        background-color: inherit;
        border: none;
        outline: none;
        font-size: 1.2rem;
        color:white;

        position: relative;
        left: 2rem;
    }
}


.nav {
    grid-area: nav;
    background-color: darken($black, 10%);

    padding-top: 2rem;

    &__genre {
        font-weight: bolder;
        list-style: none;
        padding: 1rem 2rem;
        text-align: left;
        display: block;
        color:white;

        &:hover, &--active {
            background-color: lighten($black, 5%);
            color: $red;
        }

    }
}

.title {
    grid-area: title;
    background-color: $black;
    margin: auto;
    width: max-content;
}

.subtitle {
    grid-area: subtitle;
    background-color: $black;
    width: max-content;
    margin: 0 auto;

}

.main {
    grid-area: main;
    width: 90%;
    margin:auto;
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($poster-w, 270px));
}

.movie {
    display: flex;
    flex-direction: column;
    width: min-content;
    * {
        margin: 0.3rem;
    }

    &__score {
        background-color: $yellow;
        width: 30%;
        padding: 0.5rem 0;
        border-radius: 50px;
        font-weight: bold;
        text-align: center;
        z-index: 1;

        position: relative;
        top: 7%;
        align-self: center;
    }

    &__img {
        width: $poster-w;
        height: $poster-h;

        &:hover {
            filter: brightness(115%);
        }
    }

    &__title {
        text-align: left;
        height: max-content;
        font-weight: bolder;
    }
    
    &__genres {
       @extend %subinfo;
    }

    &__release {
        @extend %subinfo;
    }
}

.oneMovie {
    display: grid;
    grid-area: main;
    font-size: 1.3rem;
    width: 90%;
    margin: 2rem auto 0 auto;
    grid-template-columns: min-content ;
    align-items: center;
    column-gap: 2rem;
    grid-template-areas:
    "title title title"
    "img genre genre"
    "img score score"
    "img desc desc"
    "img release release"
    "img price btn-price"
    "img rent btn-rent";

    &__title {
        grid-area: title;
        justify-self: center;
        font-size: 3rem;
        font-weight: bolder;
    }

    &__img {
        grid-area: img;
        width: 300px;
        height: auto;
    }

    &__score {
        grid-area: score;
    }

    &__genres {
        grid-area: genre;
    }

    &__desc {
        grid-area: desc;
        width: auto;
    }

    &__price {
        grid-area: price;
    }

    &__rent {
        grid-area: rent;
    }

    &__release {
        grid-area: release;
    }

    &__btn-price {
        grid-area: btn-price;
        @extend %btn;
    }

    &__btn-rent {
        grid-area: btn-rent;
        @extend %btn

    }

    &__field {
        font-weight: bold;
        background-color: $red;
    }
}

.footer {
    grid-area: footer;
}

::placeholder {
    color: white;
    opacity: 0.8;
}

@media (max-width: 1200px) {
    .logo__site {
        display: none;
    }

    .nav {
        display: none;
    }

    .oneMovie{
        grid-template-areas: 
        "title title title"
        "desc desc desc"
        "img genre genre"
        "img score score"
        "img release release"
        "img price price"
        "img rent rent"
        "btn-price ... ..."
        "btn-rent ... ...";

        row-gap: 1.5rem;

        &__btn-price, &__btn-rent {
            width: 100%;
        }
    }
}

