:root {
    font-size: 1em;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color:white;
}

$red: #F24150;
$blue: rgba(27, 73, 166, 0.7);
$black: #222B31;
$aqua: rgba(5, 235, 212, 0.7);
$yellow: #F2A20C;

$icon-width: 30px;
$icon-height: 30px;
$poster-w: 250px;
$poster-h: 300px;

$btn-w: 100px;
$btn-h: 70px;

%subinfo {
    color: $aqua;
    font-size: 0.8rem;
    font-weight: bold;
}

%btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: white 1px solid;
    justify-self: end;
    width: $btn-w;
    padding: 0.5rem;
    background-color: $red;
    color: white;
    font-weight: bold;
    font-size: inherit;
    outline: none;

    &:hover {
        background-color: darken($red, 5%);
    }

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: $black;
    overflow: hidden;
}

body {
    display:grid;
    grid-template-areas: 
        "logo search btn-register btn-login"
        "nav title title title"
        "nav main main main"
        "footer footer footer footer";
    grid-template-columns: 15rem 35rem auto;
    grid-template-rows: 10% 10% auto 5%;
}


.banner {
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.7);
    position: absolute;
    top:0;
    left:0;
    z-index: 2;

    &__content {
        
        background: no-repeat center/80% url(https://mediafiles.cineplex.com/Attachments/NewItems/007-NTTD-595x326_20200302184454_0.jpg);
        width: 100%;
        height: 100%;
    }

    &__btn-close {
        position: absolute;
        top:0;
        right: 0;
        width: 5rem;
        height: 2rem;
        border: white 1px solid;
        color: $yellow;
        background-color: white;

        &:hover {
            background-color: white;
            color: $yellow;
            border: $yellow 2px solid;
        }
    }
}


.btn-register {
    grid-area: btn-register;
    @extend %btn;
    width: 100%;
    border: none;


    &__icon {
        display: none;
    }

    &__text {
        align-self: center;
    }
}

.btn-login {
    grid-area: btn-login;
    @extend %btn;
    width: 100%;
    border: none;

    &__icon {
        display: none;
    }
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $red;

    &__icon {
        width: $icon-width;
        height: $icon-height;
        margin-right: .5rem;
    }

    &__site {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }

    &:hover {
        background-color: darken($red, 5%);
    }
}

.search {
    grid-area: search;
    background-color: lighten($red, 5%);
    display: flex;

    &__input {
        background-color: inherit;
        border: none;
        outline: none;
        font-size: 1.2rem;
        color:white;

        position: relative;
        left: 2rem;
    }
}


.nav {
    grid-area: nav;
    background-color: darken($black, 10%);
    padding-top: 2rem;

    &__icon {
        display: none;
    }

    &__genre {
        font-weight: bolder;
        list-style: none;
        padding: 1rem 2rem;
        text-align: left;
        display: block;
        color:white;

        &:hover, &--active {
            background-color: lighten($black, 5%);
            color: $red;
        }

    }
}

.title {
    grid-area: title;
    background-color: $black;
    margin: 0 auto;
    padding: 2rem 0 0 0;
    width: max-content;
}

.subtitle {
    grid-area: subtitle;
    background-color: $black;
    width: max-content;
    margin: 0 auto;

}

.main {
    grid-area: main;
    width: 90%;
    margin:auto;
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($poster-w, 270px));
}

.movie {
    display: flex;
    flex-direction: column;
    width: min-content;
    * {
        margin: 0.3rem;
        word-wrap: break-word;
    }

    &__score {
        background-color: $yellow;
        width: 30%;
        padding: 0.5rem 0;
        border-radius: 50px;
        font-weight: bold;
        text-align: center;
        z-index: 1;

        position: relative;
        top: 7%;
        align-self: center;

        &--bad {
            background-color: red;
        }
    }

    &__img {
        width: $poster-w;
        height: $poster-h;

        &:hover {
            filter: brightness(115%);
        }
    }

    &__title {
        text-align: left;
        height: max-content;
        font-weight: bolder;
    }
    
    &__genres {
       @extend %subinfo;
    }

    &__release {
        @extend %subinfo;
    }
}

.oneMovie {
    display: grid;
    grid-area: main;
    font-size: 1.3rem;
    width: 90%;
    margin: 1rem auto 0 auto;
    grid-template-columns: min-content ;
    align-items: center;
    column-gap: 2rem;
    grid-template-areas:
    "img genre genre"
    "img score score"
    "img desc desc"
    "img release release"
    "img price btn-price"
    "img rent btn-rent";

    &__img {
        grid-area: img;
        width: 350px;
        height: auto;
    }

    &__score {
        grid-area: score;
    }

    &__genres {
        grid-area: genre;
    }

    &__desc {
        grid-area: desc;
        width: auto;
    }

    &__price {
        grid-area: price;
    }

    &__rent {
        grid-area: rent;
    }

    &__release {
        grid-area: release;
    }

    &__btn-price {
        grid-area: btn-price;
        @extend %btn;
    }

    &__btn-rent {
        grid-area: btn-rent;
        @extend %btn

    }

    &__field {
        font-weight: bold;
        background-color: $red;
    }
}

.register {
    grid-area: main;
    display: grid;
    width: 90%;
    margin: 2rem auto 0 auto;
    grid-template-areas: 
    "form author"
    "form intro"
    "form perk";
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    &>article {
        display: flex;
        flex-direction: column;
        background-color: $yellow;
        padding: 1rem;
    }
    
    & .intro {
        grid-area: intro;

        &__text {
            background-color: $red;
        }
    }

    & .perk {
        grid-area: perk;
    }

    & .author {
        grid-area: author;

    }

    & .form {
        grid-area: form;
        display: grid;
        max-width: 25rem;
        width: 80%; 
        margin: 0 auto;
        grid-template-columns: 5rem auto;
        column-gap: 2rem;  

        & input {
            max-height: 1rem;
            color:$yellow;
            border: $yellow 1px solid;
            padding: 0.5rem;
            transition: 1s;

            &:focus {
                transform: scaleX(1.2);
            }
        }

        & label {
            font-weight: bolder;
            color: $yellow;
        }

        & button {
            grid-column: 1 / 3;
            width: 100%;
            color: $yellow;
            font-weight: bold;
            background-color: inherit;
            border: $yellow 1px solid;
            transition: 1s;

            &:hover, &:focus {
                background-color: $yellow;
                color: white;
                border: 1px solid white;
            }
        }

    }
}

.login {
    grid-area: main;
    margin: 2rem auto 0 auto;
    color: $yellow;
    font-weight: bold;
    display: grid;
    grid-template-rows: repeat(4, 1rem) 3rem;
    row-gap: 3rem;
    width: 20%;


    &__input {
        outline: 1px solid $yellow;
        color: $yellow;
        padding: 1rem;
        transition: 1s;

        &:focus {
            transform: scaleX(1.2);
        }
    }

    &__button {
        width: 100%;
        background-color: inherit;
        border: 1px solid $yellow;
        color: $yellow;
        transition: 1s;

        &:hover, &:focus {
            background-color: $yellow;
            color: white;
            border: 1px solid white;
        }
    }
}

.profile {
    grid-area: main;
    width: 90%;
    margin: 2rem auto;

    &>* {
        margin-bottom: 1rem;
    }

    &__field {
        font-weight: bold;
        background-color: $red;
        margin-right: 1rem;
    }
}

.footer {
    grid-area: footer;

    &__media {
        flex:1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        margin-top: 2rem;
        min-height: 3rem;
        background: black;
        font-size: 1.6rem;

        a:visited {
            color:white;
        }
    }
}

::placeholder {
    color: white;
    opacity: 0.8;
}

::-webkit-scrollbar {
    width: 0.5rem;

    &-thumb {
        background-color: $yellow;

        &:hover {
            background-color: darken($yellow, 10%);
        }
    }

    &-track {
        background-color: $black;
    }
}



@media (max-width: 1200px) {
    body {
        grid-template-areas: 
        "logo search btn-register btn-login"
        "title title title title"
        "main main main main"
        "footer footer footer footer";
    }

    .logo__site {
        display: none;
    }

    .nav {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        padding: 0;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        width: 100%;
        position: fixed;
        bottom: 0;
        
        &__text {
            display: none;
        }

        &__icon {
            display: block;
        }
    }

    .btn-register, .btn-login {
        display: flex;
        justify-content: center;
        align-items: center;
        &__text {
            display: none;
        }

        &__icon {
            transform: scale(1.5);
            display: block;
        }
    }

    .oneMovie{
        grid-template-areas: 
        "title title title"
        "desc desc desc"
        "img genre genre"
        "img score score"
        "img release release"
        "img price price"
        "img rent rent"
        "btn-price ... ..."
        "btn-rent ... ...";

        row-gap: 1.5rem;

        &__btn-price, &__btn-rent {
            width: 100%;
        }
    }

    @media (max-width: 900px) {
        body {
            grid-template-areas: 
            "logo search"
            "btn-register btn-login"
            "main main"
            "footer footer";
            grid-template-columns: 1fr 1fr;
        }
        .nav {
            overflow-x: scroll;
        }

        .register {
            grid-template-areas: 
            "form"
            "intro"
            "author"
            "perk";

            & .form {
                grid-template-columns: repeat(6, 1fr);
                row-gap: 1rem;
                margin: 0 auto 1rem 0;
                width: 100%;
                align-self: center;
                
                & button {
                    grid-column: 5/7;
                    height: 100%;
                }
            }
        }

        .login {
            margin: 2rem auto 0 1rem;
        }
        
        .title {
            margin: 0 0 0 1rem;
        }
    }
}

