:root {
  font-size: 10px;
  font-family: 'Roboto', sans-serif; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #f7fff7; }
  *:visited {
    color: inherit; }

html, body {
  width: 100%;
  background-color: #222B31; }

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-areas: "logo   search  register    login" "nav    title   title       title" "nav    main    main        main" "footer footer  footer      footer"; }

.logo, .btn-login, .btn-register {
  grid-area: logo;
  padding: 1.5rem 0;
  background-color: #f0293a;
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo:hover, .btn-login:hover, .btn-register:hover {
    background-color: #ee1124; }
  .logo__icon, .btn-login__icon, .btn-register__icon {
    display: none; }
  .logo__text, .btn-login__text, .btn-register__text {
    font-size: 3rem; }

.btn-login {
  grid-area: login; }

.btn-register {
  grid-area: register; }

.search {
  grid-area: search;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f35966;
  box-sizing: border-box;
  padding: 1rem; }
  .search__input {
    align-self: center;
    background-color: inherit;
    font-size: 2.1rem;
    width: 100%;
    border: none;
    color: white; }

.title {
  grid-area: title;
  font-size: 3rem;
  margin: 0 auto;
  text-align: center; }

.nav {
  grid-area: nav;
  height: 100%;
  background-color: #0d1113; }
  .nav__genre {
    padding: 1.5rem 0 1.5rem 20%;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: all 200ms ease; }
    .nav__genre:nth-child(1) {
      margin-top: 3rem; }
    .nav__genre:hover {
      background-color: #37454f;
      box-shadow: #222B31 0 0.5rem 0.5rem; }
      .nav__genre:hover * {
        color: #f0293a; }
  .nav__icon {
    display: none; }

.movies {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  width: 90%;
  margin: 0 auto; }
  .movies .movie {
    width: min-content;
    display: flex;
    flex-direction: column; }
    .movies .movie__score {
      align-self: center;
      transform: translateY(1.5rem);
      background-color: #F2A20C;
      padding: 0.5rem 2rem;
      border-radius: 1.5rem;
      font-size: 1.5rem; }
    .movies .movie__img {
      width: 30rem;
      height: 34.5rem; }
    .movies .movie__title {
      font-size: 2.25rem;
      font-weight: bold;
      margin: 1.5rem 0; }
    .movies .movie__release, .movies .movie__genres {
      font-weight: bold;
      font-size: 1.5rem;
      color: #4ecdc4; }
    .movies .movie__release {
      margin-top: 0.75rem; }
