<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/b81714e19c.js"></script>
    <link rel="stylesheet" href="/scss/style.css">
</head>

<body>
        <a href="/" class="logo">
            <img src="/img/logo.png" alt="logo" class="logo__icon">
            <h1 class="logo__text">Nodeflix</h1>
        </a>

        <form class="search" action="/movies" method="POST">
            <input type="text" name="movie" class="search__input" placeholder="Search movies">
            <input type="submit" hidden>
        </form>

        <a class="btn-register" href="/users/register">
            <i class="fas fa-user-plus btn-register__icon"></i>
            <h1 class="btn-register__text">Register</h1>
        </a>

        <a class="btn-login" href="/users/login">
            <i class="fas fa-sign-in-alt btn-login__icon"></i>
            <h1 class="btn-login__text">Login</h1>
        </a>

    {{{body}}}

    <footer class="footer">
        <article class="footer__media">
            <a href="https://github.com/Andrewnt219" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com/phong.nguyentuan.108" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/andrewnt219/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </article>
    </footer>
</body>

<script src='/js/utils.js'></script>

</html>