<form action="" class="login">
    <label for="login__email">Email</label>
    <input type="text" name="email" id="login__email" class="input login__email">

    <label for="login__password">Password</label>
    <input type="password" name="password" id="login__password" class="input login__password">
</form>